<ion-view view-title="Announcement Description">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-footer">
    <div class="list card">

      <div class="item">
        <p ng-if="announ.Sponsored_by">{{announ.Sponsored_by}} presents</p>
        <h3 ng-if="announ.Headline">{{announ.Headline}}</h3>
        <h2 ng-if="announ.Subheader">{{announ.Subheader}}</h2>
        <!--<p ng-if="session.Building">{{session.Building}}</p>-->
      </div>

      <div class="item item-body">
        <p ng-if="announ.Message">{{announ.Message}}</p>
      </div>

      <!--<div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-plus-circled"></i> Like
        </a>

        <a class="tab-item" ng-click="addToCalendar(session.Headline)">
          <i class="icon ion-plus-round"></i>Add
        </a>

        <a class="tab-item">
          <i class="icon ion-android-calendar"></i> Share
        </a>
      </div>-->

    </div>

  </ion-content>
  <!--<ion-footer-bar align-title="left" class="bar bar-footer bar-stable">
    <button class="button icon ion-share"> Share</button>
    <button class="button icon ion-android-calendar"> Add to Calendar</button>
</ion-footer-bar>-->

  <!--<div class="bar bar-footer bar-positive">
    <button class="button icon ion-share"> Share</button>
    <button class="button icon ion-android-calendar"> Add to Calendar</button>
  </div>-->
</ion-view>