      <!--<ion-view view-title="Events">
        <ion-content class="padding">
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/event">Scientific Facts</a>
          </p>
        </ion-content>
      </ion-view>-->

<ion-view view-title="Announcements">
  <ion-nav-bar class="bar-positive">  
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content direction="y" scrollbar-y="false" class="has-header padding">

    <!--<ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>-->


    <div class="list">
      <div ng-repeat="announ in announs">

        <!--<div class="item item-divider" style="" ng-if="showDate(session.Start_Day)">
          {{getDayName(session.Start_Year, session.Start_Month, session.Start_Day)}}, {{getMonthName(session.Start_Month)}} {{session.Start_Day}}
          {{session.Start_Year}}
        </div>-->
        <a class="item" href="#/tab/announcements/{{announ.Announ_id}}">
          
          <h2>{{announ.Headline}}</h2>
          <p>{{announ.Subheader}}</p>
          <!--<p>{{session.Start_TimeHr + ':' + session.Start_TimeMin + ' ' + session.Start_TimeAMPM + ' to ' + session.End_Time_Hr
            + ':' + session.End_Time_Min + ' ' + session.End_Time_AMPM}}</p>-->
        </a>
      </div>
    </div>
    
    <div ng-if="announs !== undefined && !announs.length" class="no-results">
      <div class="card">
        <div class="item item-text-wrap">
          Announcements not found.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>